.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
* {
    font-family: "Roboto", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: #a3e3ff;
}
#index-title {
    font-size: 2em;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 10px;
}
input, select{
    border: none;
    border-radius: 5px;
    padding: 5px;
    min-width: 300px;
}
#create-prompt-form {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#create-prompt-form ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
}